go 1.24.0

use (
	./common
	./gateways/graphql
	./gateways/rest
	./services/authentication
	./services/delivery
	./services/geolocation
	./services/inventory
	./services/order
	./services/product
	./services/shop
	./services/user
)
